// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//// Variables
//@import 'variables';

//// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.w-100 {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
