@import url(https://fonts.googleapis.com/css?family=Nunito);.w-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.h-100 {
  height: 100% !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

